#header
{
	font-family:"Calibri";
	text-align:center;
}

#cr-stage
{ 
	margin: 10px auto ;
}


#social
{
	border:none; 
	width:800px; 
	height:24px;
	margin: 0px auto;
	padding: 20px 0;
	display: block;
	
}



#container
{
	margin: 0 auto;
	width: 1000px;
	background: #eee;
}

#content-container
{
	float: left;
	width: 1000px;
	background: #ccc;
}

#section-navigation
{
	
	
}